.nav-link {
  padding: 1rem;
  border-radius: 0.25rem;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgb(172, 70, 130);
  transition: all 0.3s;
  color: rgb(116, 26, 78);
}

.nav-link-active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(231, 71, 170);
}

.nav-link-inactive {
  color:  rgb(172, 70, 138);
}

/* .nav-link:hover {
  color: var(--pastel-teal);
} */

/* .nav-link-disabled {
  color: var(--pastel-teal); 
  border: 1px solid var(--pastel-teal); 
  cursor: not-allowed; 
  pointer-events: none;
} */
